@page
@model OrderFood.Pages.Admin.AdminPanel

<li><a href="/Admin/Gate/Category">Category</a></li>
<li><a href="/Admin/Gate/FoodIngredient">Food Ingredient</a></li>
<li><a href="/Admin/Gate/FoodItem">Food Item</a></li>
<li><a href="/Admin/Gate/Order">Order</a></li>
<li><a href="/Admin/Gate/Person">Person</a></li>
