@page
@model OrderFood.Pages.Admin.AdminPanel

<li><a href="/Admin/Gate/Category">Category settings</a></li>
<li><a href="/Admin/Gate/FoodIngredient">Food Ingredients</a></li>
<li><a href="/Admin/Gate/FoodItem">Change meals</a></li>
<li><a href="/Admin/Gate/Order">Order</a></li>
<li><a href="/Admin/Gate/OrderItem">Order items</a></li>
<li><a href="/Admin/Gate/Person">Person</a></li>
