@page
@model OrderFood.Pages.CustomerView

@{
    ViewData["Title"] = "Customer";
}

<h1>Enter your name or table name</h1>
<hr/>
<div asp-validation-summary="All" class="text-danger"></div>
<div class="row">
<div class="col-md-4">
<form method="post" asp-route-form="newgame">
    <div class="form-group">
        <label asp-for="Person.PersonName" class="control-label"></label>
        <input asp-for="Person.PersonName" class="form-control"/>
        <span asp-validation-for="Person.PersonName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" asp-for="Person" value="Menu" class="btn btn-primary"/>
    </div>
</form>
</div>
    
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}