@page
@model OrderFood.Ingredients


<table class="table table-bordered" style="width: initial;">
<h1>Ingredients for @Model.FoodItemToShow</h1>
<hr/>
<tr>
    <th>Ingredient</th>
</tr>
@foreach (var item in Model.FoodIngredients)
{
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Ingredient)
        </td>
    </tr>
}
</table>